<hr style="border: 1px solid black;">

<div class="container">
  <div class="iconos">
    <div class="icono-ubicacion">
      <img
        src="https://i.pinimg.com/564x/22/33/1a/22331a30f84acd0c178a29f1606f3b6c.jpg"
        alt="Icono de Ubicación"
      />
    </div>
    <div class="mapa">
      <img src="" alt="" />
    </div>
    <div style="margin-left: 30px;">
      <div class="icono-telefono">
        <img
          src="https://i.pinimg.com/564x/a8/17/78/a817789a91d8a7ee24dc36d8989cf8c2.jpg"
          alt="Icono de Teléfono"
        />
      </div>
      <div style="padding-top: 12px;" class="icono-mensaje">
        <img
          src="https://i.pinimg.com/564x/af/5a/6c/af5a6c1849a2e732537e027d22a2e87c.jpg"
          alt="Icono de Mensaje"
        />
      </div>
    </div>
  </div>
  <div>
    <div style="margin-bottom: 15px;">
      <span>Newsleatter </span>
    </div>
    <div class="texto">
      <input type="text" />
    </div>
    <div class="redes-sociales">
      <img
        src="https://i.pinimg.com/564x/e5/1d/19/e51d196eda65d3d222c611efd2bb8c7b.jpg"
        alt="Facebook"
      />
      <img
        src="https://i.pinimg.com/564x/be/1a/5d/be1a5dfda55408eba7dbfeef0dfefdbe.jpg"
        alt="Twitter"
      />
      <img
        src="https://i.pinimg.com/564x/f5/b5/d6/f5b5d6b2ac6d2e661e63b7e1ed056eab.jpg"
        alt="Instagram"
      />
    </div>
  </div>
</div>
