.container {
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.descripcion {
  text-align: left;
  width: 55%;
}

.campos {
  display: flex;
  flex-direction: column;
}
.inp {
  width: 250px;
    padding: 5px;
    border: 2px solid;
    margin-bottom: 10px;
}

textarea {
  width: 250px;
  height: 45px;
  padding: 5px;
  border: 2px solid;
  margin-bottom: 10px;
}

